@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.add-container,
.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-control {
  padding: 10px 0;
}

form .btn,
input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

form input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}

.btn {
  align-items: center;
  background-color: #2784c7;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  transition: button 1s;
}

.btn:hover {
  background-color: #2273ad;
}

.add-container label {
  font-family: "Roboto", sans-serif;
}
